@media only screen and (min-width: 1180px) and (max-width: 1345px) {
	.footer-cta-section .cta-content .has-font-size-3-font-size {
		margin-top: 16px;
	}

	.footer-bottom {
		padding: 30px 0;
	}
}

@media only screen and (min-width: 1004px) and (max-width: 1179px) {
	.footer-bottom {
		padding: 25px 0;
	}

	.copy-right {
		width: 53%;
	}

	.legal-nav {
		width: 44%;
	}

	.image-alongside-text-ctn {
		column-gap: 30px;
	}

	.image-alongside-text-ctn .wp-block-column.iat-content {
		flex-basis: 59%;
	}

	.features-tile {
		flex-basis: 48% !important;
	}

	.hero-content .hero-content-inner {
		margin-left: 15%;
		margin-top: 20px;
	}

	.cta-image {
		flex-basis: 52% !important;
	}

	.cta-content {
		flex-basis: 48% !important;
	}
}

@media only screen and (max-width: 1003px) {
	// code will be starts from here
}

@media only screen and (min-width: 748px) and (max-width: 1003px) {
	.footer-cta-section .cta-content .wp-block-buttons {
		margin-top: 25px;
	}

	.footer-bottom {
		padding: 25px 0;
	}

	.hero-content .hero-content-inner {
		margin-left: 8%;
		margin-top: 22px;
	}

	.footer-cta-section .cta-content .has-font-size-3-font-size {
		margin-top: 20px;
	}

	.footer-cta-section .cta-content {
		padding: 20px 0;
	}
}

@media only screen and (max-width: 747px) {

	.hero-default {
		&.with-image {

			.hero-default-content,
			.hero-default-image {
				width: 100%;
			}
		}

	}

	// at block
	.iat-image.column {
		margin-top: 30px;
	}

	// lists
	ul.children,
	ol.children {

		li {

			&.depth-2,
			&.depth-3,
			&.depth-4,
			&.depth-5 {
				margin: 0 0 30px 20px !important;
			}
		}
	}

	// forms styling
	.gfield.half-input-field,
	.ginput_left,
	.name_first,
	.ginput_right,
	.name_last {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	// Wp Table Block
	figure {
		overflow-x: scroll;

		td,
		th {
			width: 140px;
		}
	}
}

@media only screen and (min-width: 460px) and (max-width: 747px) {
	// code will be starts from here
}

@media only screen and (max-width: 459px) {
	// code will be starts from here
}