@media only screen and (min-width: 1346px) and (max-width: 1600px) {
	.header-btns {
		width: 6.2%;
	}

	// .actions button {
	// 	width: 48.8%;
	// }

	.header-nav ul li {
		margin: 0 10px;
	}

	.footer-bottom {
		padding: 30px 0;
	}
}

@media only screen and (min-width: 1180px) and (max-width: 1345px) {
	.legal-nav {
		width: 43%;
	}

	.copy-right {
		width: 38%;
	}

	// .actions button {
	// 	width: 48.8%;
	// }

	.header-btns {
		width: 6.8%;
	}

	.header-nav ul li {
		margin: 0 6px;

		a,
		a:visited {
			font-size: 14px;
		}
	}

	.footer-cta-section .cta-content .has-font-size-3-font-size {
		margin-top: 16px;
	}

	.footer-bottom {
		padding: 30px 0;
	}
}

@media only screen and (min-width: 1004px) and (max-width: 1179px) {
	.nav-overlay .header-nav ul {
		margin-top: 20px;
	}

	.testimonial-item-inner {
		padding: 25px 20px;
		height: calc(100% - 70px);
	}

	.woocommerce-account {
		.wrapper {
			width: 95% !important;
		}

		.woocommerce {
			padding: var(--ss_space_16);
		}
	}

	.form-section-right {
		width: 45.5%;
	}

	// .actions button {
	// 	width: 48.7%;
	// }

	.form-section-left {
		width: 50%;
	}

	.footer-bottom {
		padding: 25px 0;
	}

	.copy-right {
		width: 53%;
	}

	.legal-nav {
		width: 44%;
	}

	.image-alongside-text-ctn {
		column-gap: 30px;
	}

	.image-alongside-text-ctn .wp-block-column.iat-content {
		flex-basis: 59%;
	}

	.features-tile {
		flex-basis: 48% !important;
	}

	.hero-content .hero-content-inner {
		margin-left: 15%;
		margin-top: 20px;
	}

	.cta-image {
		flex-basis: 52% !important;
	}

	.cta-content {
		flex-basis: 48% !important;
	}
}

@media only screen and (min-width: 748px) and (max-width: 1003px) {

	.woocommerce-checkout {
		.wc-block-components-checkout-order-summary__title-text {
			margin: 0 !important;
		}

		.wc-block-checkout__sidebar {
			order: 0 !important;
		}

		.wc-block-components-sidebar {
			width: 100% !important;
			padding-left: 0 !important;
		}

		.wc-block-checkout__sidebar.is-sticky {
			position: relative !important;
		}

		.wc-block-components-sidebar-layout .wc-block-components-main {
			width: 100% !important;
			padding-right: 0 !important;
		}
	}

	.wc-block-checkout__main {
		order: 1 !important;
	}

	.nav-overlay .header-nav ul {
		margin-top: 20px;
	}

	.testimonial-item {
		width: calc(50% - 20px);
	}

	.testimonial-bottom {
		padding-top: 15px;
	}

	.woocommerce-shop .products.columns-4 li {
		width: calc(50% - 12px) !important;

		&:nth-child(2n + 2) {
			margin-right: 0 !important;
		}
	}

	.form-section-left {
		position: initial;
	}

	.form-section-left {
		width: 100%;
		margin-bottom: 30px;
	}

	.form-section-right {
		width: 100%;
	}

	.order-form-section-inner {
		flex-direction: column-reverse;
	}

	.copy-right {
		width: 58%;
	}

	.footer-cta-section .cta-content .wp-block-buttons {
		margin-top: 25px;
	}

	.footer-bottom {
		padding: 25px 0;
	}

	.hero-content .hero-content-inner {
		margin-left: 8%;
		margin-top: 22px;
	}

	.footer-cta-section .cta-content .has-font-size-3-font-size {
		margin-top: 20px;
	}

	.footer-cta-section .cta-content {
		padding: 20px 0;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1003px) {
	.woocommerce-account:not(.woocommerce-dashboard.woocommerce-account) {
		.woocommerce-MyAccount-navigation ul li {
			font-size: 14px !important;
		}
	}

	.woocommerce-view-order p,
	.woocommerce-table--order-details.shop_table {
		font-size: 14px !important;
	}

	.woocommerce-account {
		.wrapper {
			width: 98% !important;
		}

		.woocommerce {
			padding: var(--ss_space_16);
		}

		.woocommerce table.my_account_orders:not(.woocommerce-orders-table__cell-order-number) {
			font-size: 11px !important;
		}
	}
}

@media only screen and (max-width: 1003px) {
	.error-page-hero {
		padding-top: 170px;
	}

	.error-404 ul {
		gap: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.single-product .content-area{
		padding-top: 150px;
	}
	.gform-theme {
		.gfield {
			&.gfield--width-half {
				width: 100%;
			}
		}

		textarea {
			padding: 20px 25px;
		}
	}

	.woocommerce-edit-account,
	.woocommerce-edit-address {

		.form-row-last,
		.form-row-first {
			width: 100% !important;
		}
	}

	.woocommerce-order-received,
	.woocommerce-view-order {
		.woocommerce-order-details {
			margin-bottom: 0 !important;
		}

		h2.woocommerce-column__title,
		h2.woocommerce-order-details__title {
			font-size: 24px !important;
			margin-top: 20px !important;
		}
	}

	.woocommerce-edit-address h2 {
		font-size: 24px !important;
		float: left !important;
	}

	.woocommerce-dashboard.woocommerce-account,
	.logged-in.admin-bar {
		.woocommerce-orders-table__cell-order-actions {
			padding: 10px 4px !important;
		}

		.woocommerce-orders-table__row.woocommerce-orders-table__row--status-processing {
			margin-bottom: 30px;
		}

		.woocommerce-MyAccount-navigation ul li {
			width: 100% !important;
			margin-bottom: 0 !important;
			padding-left: 0 !important;
		}
	}
}

@media only screen and (max-width: 747px) {
	.woocommerce ul.products li.product .button {
		font-size: 12px !important;
	}

	.nav-overlay .header-nav ul {
		margin-top: 20px;
	}

	.testimonials-items {
		gap: 40px;
	}

	.woocommerce-checkout .wc-block-components-totals-footer-item {
		font-size: var(--ss_font_size_18) !important;
	}

	.woocommerce-checkout {
		.wp-block-woocommerce-checkout-shipping-address-block {
			border-top: none !important;

			padding: 36px 0 !important;

			border-bottom: none !important;
		}

		.woocommerce-checkout .wc-block-components-totals-footer-item {
			font-size: var(--ss_font_size_18) !important;
		}

		.wc-block-components-totals-coupon,
		.wc-block-components-totals-item,
		.wc-block-components-order-summary {
			padding: 0 10px !important;
		}
	}

	.testimonial-author,
	.testimonial-location {
		span {
			font-size: 14px;
			letter-spacing: 1px;
		}
	}

	.testimonial-item-inner {
		padding: 25px 25px;
		height: max-content;
	}

	.testimonial-bottom {
		padding: 11px 0 0 55px;
	}

	.testimonial-section {
		.section-head {
			.wp-block-heading {
				letter-spacing: 0px;
			}
		}
	}

	.testimonial-item {
		width: 100%;
	}

	.woocommerce ul.order_details li {
		float: none !important;
		border-right: none !important;
	}

	.woocommerce-shop .products.columns-4 li {
		width: 100% !important;

		&:nth-child(2n + 2) {
			margin-right: 0 !important;
		}
	}

	.form-section-left {
		position: initial;
	}

	.woocommerce-account:not(.logged-in.admin-bar) .woocommerce {
		width: 100%;
	}

	.header-btns {
		width: 23%;
		max-width: 75px;
	}

	.hero-section .wp-block-cover {
		height: 71.7vh;
	}

	.thumb p {
		&::before {
			top: 13px;
		}
	}

	.product-main-title {
		letter-spacing: 3.6px;
		margin-bottom: 30px;
	}

	.three-columns.product-items .product-item .product-title {
		margin-top: 20px;
	}


	.product-price {
		margin-top: 10px;
	}

	.footer-cta-section {
		gap: 0;

		.cta-content {
			padding: 50px 20px;

			.has-font-size-3-font-size {
				margin-top: 0;
			}

			.wp-block-buttons {
				margin-top: 30px;
			}
		}

		.wp-block-button {
			line-height: 0.65;
		}
	}

	.video-columns-section {
		.section-head {
			.wp-block-heading {
				margin: 6px 0 35px;
				letter-spacing: 0;
			}
		}

		.video-description {
			margin-top: 16px;

			.has-font-size-5-font-size {
				margin-bottom: 10px;
				font-size: 22px !important;
			}
		}
	}

	.slick-slider .slick-dots {
		padding: 0 14px;
	}

	.product-title {
		margin-top: 20px;
	}

	.features-inner-content {
		padding: 38px 20px;
	}

	.stone-stomper-features .features-image figure {
		aspect-ratio: 540 / 520;
	}

	.wp-block-separator {
		margin: 0 0 12px 0;
	}

	.hero-home-section .wp-block-heading {
		letter-spacing: 0;
	}

	.hero-content .hero-content-inner {
		margin-left: 0%;
		margin-top: 22px;
	}

	.hero-home-section .wp-block-cover .wp-block-cover__inner-container {
		width: 87%;
	}

	.footer-bottom {
		text-align: center;
	}

	#final-summary .form-section-right {
		margin-bottom: 57px;
	}

	.image-caption {
		width: 100%;
	}

	.thumb p {
		top: -46px;
		line-height: 1.7;
	}

	.image-caption {
		p {
			line-height: 1.7;
		}
	}

	.actions {
		margin-top: 30px;

		button {
			width: 100%;
		}
	}

	.line {
		strong {
			font-weight: 400;
		}
	}

	#vehicle-details fieldset,
	#caravan-details fieldset {
		margin: 25px 0 10px;
		display: block;
	}

	.checkboxes {
		label {
			width: 100%;
			margin: 0;
		}
	}

	.slick-slider .slick-prev {
		left: 0;
	}

	.slick-slider .slick-next {
		right: 0;
	}

	.mobile-form-image-slider {
		padding-bottom: 50px;
		box-sizing: border-box;
	}

	.notice-bar {
		padding: 26px 27px 24px 58px;

		p {
			margin: 0 !important;
		}
	}

	.vehicle-image img {
		aspect-ratio: 382 / 250;
	}

	#vehicle-details {
		.form-section-right {
			p {
				margin-bottom: 30px;
			}
		}
	}

	.mobile-image-hide {
		display: none;
	}

	.two-columns-fields {
		flex-wrap: wrap;

		.field {
			width: 100%;
		}
	}

	.mobile-image {
		display: block;
		line-height: 0.65px;
		margin-bottom: 27px;
	}

	.form-section-right p {
		letter-spacing: 0.4px;
	}

	.form-detail-section .content-head {
		h2 {
			line-height: 1.14;
			margin-bottom: 27px;
		}

		p {
			max-width: 100%;
			line-height: 1.37;
			letter-spacing: -0.1px;
			margin-bottom: 19px;
		}
	}

	.wrapper {
		width: 87%;
	}

	.order-section {
		margin-top: 14px;
	}

	.order-form-section-inner {
		flex-direction: column-reverse;
	}

	.form-section-left {
		width: 100%;
	}

	.form-section-right {
		width: 100%;
	}

	.hero-default {
		&.with-image {

			.hero-default-content,
			.hero-default-image {
				width: 100%;
			}
		}
	}

	// at block
	.iat-image.column {
		margin-top: 30px;
	}

	// lists
	ul.children,
	ol.children {
		li {

			&.depth-2,
			&.depth-3,
			&.depth-4,
			&.depth-5 {
				margin: 0 0 30px 20px !important;
			}
		}
	}

	// forms styling
	.gfield.half-input-field,
	.ginput_left,
	.name_first,
	.ginput_right,
	.name_last {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	// Wp Table Block
	figure {
		overflow-x: scroll;

		td,
		th {
			width: 140px;
		}
	}
}

@media only screen and (max-width: 450px) {
	.woocommerce-shop {
		.woocommerce-result-count {
			margin-right: 20px;
		}

		.woocommerce-ordering {
			float: left !important;
		}
	}

	.woocommerce-checkout .wc-block-components-totals-footer-item {
		font-size: var(--ss_font_size_16);
	}
}

@media only screen and (max-width: 435px) {
	.woocommerce-order-received {

		.woocommerce-table--order-details.shop_table,
		p,
		.woocommerce-column--shipping-address,
		.woocommerce-column--billing-address {
			font-size: 12px !important;
		}
	}

	.woocommerce-view-order p,
	.woocommerce-table--order-details.shop_table,
	address {
		font-size: 12px !important;
	}

	.wp-block-woocommerce-checkout-actions-block .wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button {
		width: 80% !important;
	}

	.woocommerce-downloads .woocommerce-info a {
		margin-top: var(--ss_space_16) !important;

		font-size: 12px !important;
		letter-spacing: 0.4px !important;
	}

	.woocommerce-account {
		.woocommerce {
			max-width: 1400px;
			margin: 0 auto;
			padding: 10px !important;
		}
	}

	#pm_menu {
		width: 98.9% !important;
	}

	.footer-bottom {
		padding: 54px 0;
	}

	.hero-section .wp-block-cover h1 {
		letter-spacing: 1px;
	}

	.woocommerce-account:not(.logged-in.admin-bar) {
		.lost_password {
			margin: var(--ss_space_16) auto !important;
			font-size: 14px !important;
		}

		.woocommerce {
			padding: var(--ss_space_48) 30px !important;
		}
	}
}

@media only screen and (max-width: 360px) {
	.form-404 {
		margin-top: 20px;

		form {
			gap: 10px;
			flex-wrap: wrap;

			label {
				width: 100%;
				margin: 0;
			}

			input[type="submit"],
			button,
			input[type="button"],
			input[type="reset"] {
				width: 100%;
				margin: 0 0 0px 0px;
				height: 68px;
			}
		}
	}

	.woocommerce-checkout {
		.wc-block-components-order-summary .wc-block-components-order-summary-item__image {
			width: 48px !important;
		}

		.wc-block-components-order-summary .wc-block-components-order-summary-item {
			gap: 28px !important;
		}
	}

	.woocommerce-order-received {
		.woocommerce-thankyou-order-received {
			padding-top: 20px;
			font-size: 12px !important;
		}
	}

	.woocommerce-account:not(.logged-in.admin-bar) {
		.form-row label {
			font-size: 14px;
		}

		.lost_password {
			margin: var(--ss_space_16) auto !important;
			font-size: 14px !important;
		}

		.woocommerce {
			padding: var(--ss_space_48) 10px !important;
		}
	}

	.woocommerce-shop {
		.search-form {
			flex-direction: column !important;
			align-items: start;
			gap: 10px;
		}

		input.search-submit {
			margin: 0 !important;
		}
	}

	#pm_menu {
		width: 99.9% !important;
	}

	.three-columns.product-items .product-item .product-title {
		margin-top: 12px;
	}

	.product-main-title {
		font-size: 30px;
	}

	.thumb p {
		padding: 12px 4px 10px 30px;

		&::before {
			top: 14px;
			left: 8px;
		}
	}

	.hero-section .wp-block-cover h1 {
		letter-spacing: 0;
		font-size: 37px;
	}

	.notice-bar {
		padding: 26px 20px 24px 50px;
	}

	.slick-slider .slick-dots {
		padding: 0 5px;
	}

	.form-detail-section .content-head h2 {
		margin-bottom: 20px;
		font-size: 26px;
	}

	.footer-cta-section .cta-content .wp-block-button .wp-block-button__link {
		padding: 20px 10px;
	}

	.wp-block-button {
		width: 100%;

		.wp-block-button__link {
			padding: 18px 20px;
		}
	}

	.hero-home-section .wp-block-heading {
		font-size: 40px;
	}

	div#menuiconwrap.icons02 span.cart_count_header {
		right: -28px;
	}

	.logo {
		max-width: 95px;
	}

	.header-btns {
		width: 27%;
		max-width: 75px;
		margin-right: 15px;
	}

	.header-btns .fcp_icon_2::before {
		background-size: 24px;
		top: 14px;
		left: 0;
		background-position: center;
	}

	.header-btns .account-icon {
		background-size: 22px;
		margin: 0;
		background-position: center;
	}
}
