// image positions

.features-inner-cotnent {
	margin-top: 0;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 0 0 5px 5px;
}

.stone-stomper-features {
	.features-image {
		figure {
			height: 100%;
		}
	}
}