.form-image-slider {
	.slider-image {
		img {
			width: 100%;
			aspect-ratio: 4 / 2.5;
			object-fit: cover;
			background-color: #f7f7f7;
			max-height: 483px;
		}
	}
}

.slider-image {
	max-height: 483px;
}

.vehicle-images {
	display: flex;
}

.form-measurements-section {
	.measurements-images img {
		width: 100%;
	}
}

.form-details-section {
	.details-images img {
		width: 100%;
	}
}

.section-disable {
	pointer-events: none !important;
	opacity: 0.2;
}

.wc-block-components-product-image {
	line-height: 0.65;
	a,
	a:visited {
		border: 0;
		padding: 0;
	}
}

.form-detail-section {
	a,
	a:visited {
		border-color: var(--ss_black_1);
		color: var(--ss_black_1);
	}

	.content-head {
		border-bottom: 1px solid;
		margin-bottom: 42px;

		p {
			font-size: var(--ss_font_size_16);
			max-width: 97%;
			line-height: 1.4;
			letter-spacing: -0.1px;
			margin-bottom: 18px;

			&:last-of-type {
				margin-bottom: 33px;
			}
		}

		h2 {
			text-transform: uppercase;
			letter-spacing: 8.3px;
			line-height: 1.1;
			margin-bottom: 22px;
		}
	}
}

.order-form-section-inner {
	column-gap: 40px;
	flex-wrap: wrap;
}

.form-section-left {
	width: 55.2%;
	position: sticky;
	top: 140px;
	margin-bottom: 20px;
	height: max-content;
}

.logged-in.admin-bar {
	.form-section-left {
		top: 162px;
	}
}

.form-section-right {
	width: 40.4%;
	border-bottom: 1px solid;
	padding-bottom: 20px;
	margin-bottom: 40px;

	h3 {
		font-size: 27px;
		letter-spacing: 0.4px;
		margin-bottom: 12px;
	}

	p {
		margin-bottom: 22px;
	}

	.content-head {
		h3 {
			margin-bottom: 10px;
		}
	}
}

.notice-bar {
	background-color: #efefef;
	color: var(--ss_pure_black);
	padding: 26px 30px 24px 58px;
	border-radius: 0px;
	margin-bottom: 20px;
	position: relative;
	margin-top: 30px;
	letter-spacing: 0.3px;

	p {
		margin-bottom: 0;
	}

	&::before {
		content: "";
		background-image: url("../images/info-icon.svg");
		background-size: contain;
		background-repeat: no-repeat;
		width: 18px;
		height: 18px;
		display: inline-block;
		position: absolute;
		left: 28px;
		top: 30px;
	}
}

.line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 9px;

	span {
		letter-spacing: 0.3px;
	}
}

.total {
	border-top: 1px solid;
	margin-top: 36px;
	text-align: right;
	padding-top: 39px;
	font-size: 28px;
	@include font(jost, med);

	span {
		letter-spacing: 0.9px;
	}

	.muted {
		font-size: 15px;
		margin-top: -8px;
		display: block;
	}
}

.actions {
	margin-top: 54px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	button {
		margin: 0;
		font-weight: 600;
		text-transform: uppercase;
		height: 68px;
		width: 100%;
		letter-spacing: 2.7px;

		&.secondary {
			border: 1px solid black;
			background-color: transparent;
			color: black;
		}
	}
}

#vehicle-details,
#caravan-details {
	.field {
		label {
			display: none;
		}
	}

	fieldset {
		margin: 25px 0 30px;
		display: block;
	}
}

.form-image-slider {
	padding-bottom: 40px;
}

#final-measurements {
	label {
		font-weight: bold;
		margin-bottom: 16px;
		letter-spacing: 0.3px;
	}

	.field {
		margin-bottom: 30px;
	}
}

.toolbox-support {
	.two-columns-fields .extra-support {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		label {
			font-size: 14px;
		}
	}
}

#final-summary {
	.form-section-right {
		border: none;
		padding: 0;
	}

	label {
		font-weight: 700;
		margin: 0 0 10px 0;
	}
}

#photographs-details {
	input[type="file"] {
		height: 67px;
		padding: 21px;
		background-image: url(../images/arrow-down.svg);
		background-repeat: no-repeat;
		background-position: center right 29px;
		background-size: 10px;
	}

	::-webkit-file-upload-button {
		font-size: 0;
		padding: 0;
		margin: 0 17px 0 0;
		background-image: url("../images/upload-icon.svg");
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 28px;
		width: 20px;
		height: 20px;
		border: none;
		position: relative;
		top: -5px;
	}
}

#final-measurements {
	input[type="text"] {
		background-image: url(../images/pen.svg);
		background-repeat: no-repeat;
		background-position: center right 29px;
		background-size: 18px;
	}

	input#toolbox_width {
		background-position: center right 10px;
	}
}

.thumb {
	p {
		padding: 12px 14px 10px 38px;
		letter-spacing: 0.3px;
		background: white;
		z-index: 1;
		position: relative;
		width: max-content;
		margin: 0;
		top: -48px;

		&::before {
			content: "";
			background-image: url("../images/info-icon.svg");
			background-size: contain;
			background-repeat: no-repeat;
			width: 18px;
			height: 18px;
			display: inline-block;
			position: absolute;
			left: 13px;
			top: 15px;
		}
	}
}

.uploads {
	margin: 20px 0;

	.file-not-uploaded {
		margin-top: -16px !important;
	}

	li {
		justify-content: space-between;
		padding: 0 !important;

		&::before {
			display: none;
			padding: 0;
		}

		span {
			width: calc(100% - 195px);
			display: inline-flex;
		}

		em {
			font-style: normal !important;
			color: var(--ss_success);
			white-space: nowrap;
		}

		button {
			border: none;
			margin: 0;
			background-color: transparent;
			padding: 0;
			width: 20px;
			font-size: 10px;
		}
	}
}

.mobile-image {
	display: none;
}

.image-caption {
	position: relative;
	padding: 12px 14px 10px 38px;
	letter-spacing: 0.3px;
	background: var(--ss_white);
	margin-bottom: 20px;
	width: max-content;
	box-sizing: border-box;

	p {
		margin: 0;
	}

	&::before {
		content: "";
		background-image: url("../images/info-icon.svg");
		background-size: contain;
		background-repeat: no-repeat;
		width: 18px;
		height: 18px;
		display: inline-block;
		position: absolute;
		left: 13px;
		top: 15px;
	}
}

.form-image-slider,
.vehicle-images,
.example-photographs {
	.image-caption-area {
		position: relative;
		margin-bottom: -44px;
		display: inline-block;
	}
}

.form-image-slider {
	.image-caption-area {
		bottom: 44px;
	}

	&.no-slider {
		.slick-dots {
			display: none !important;
		}
	}
}

.vehicle-images,
.example-photographs {
	.image-caption-area {
		bottom: 50px;
	}
}

#caravan-details {
	.checkboxes {
		label {
			width: 100%;
		}
	}
}

.woocommerce-order-received {
	.woocommerce-order {
		width: 90%;
		margin: 70px auto 0;
		max-width: 1400px;
	}
}

.van_model_other {
	width: -webkit-fill-available;
	margin-top: 10px;
}

.form-section-right {
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	input[type="search"],
	input[type="password"],
	input[type="time"],
	input[type="date"],
	input[type="datetime-local"],
	input[type="week"],
	input[type="month"],
	input[type="file"],
	input[type="range"],
	input[list],
	input[type="string"],
	select,
	textarea,
	.gform-text-input-reset {
		&:hover {
			border-color: var(--ss_color_primary);
			background-color: rgba(237, 23, 79, 0.1);
		}
	}
}

#caravan-details {
	.van_model_other {
		margin-top: 30px;
	}
}

.form-section-right #btn_cart {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
}

.form-section-right #btn_cart.btn-loading {
	pointer-events: none;
	opacity: 0.7;
	background-image: url(../images/spinner.svg);
	color: var(--ss_button_bgcolor);
}

#blk-measure:not(:has(.mesh-only-field[style*="display: none"]))
	.field:has(#a_frame_length) {
	display: none !important;
}

.woocommerce-table__product-name.product-name > a {
	margin-bottom: 10px;
	display: inline-block;
	padding: 0;
	line-height: 1;
}

.final-measurements-fields {
	.field {
		.notice-bar {
			padding: 16px 16px 16px 46px;
			margin-top: 10px;

			&::before {
				position: absolute;
				left: 16px;
				top: 16px;
			}
		}
	}
}

#bar-question-image-container {
	width: 100%;
	height: auto;
	margin-bottom: 20px;

	img {
		width: 100%;
		height: auto;
		display: block;
		max-height: 483px;
		object-fit: cover;
		background-color: #f7f7f7;
	}
}

.bar-q-image {
	width: 100%;
	height: auto;
	max-height: 483px;
	object-fit: cover;
	background-color: #f7f7f7;
}

label.question-label {
	max-width: 70%;
	word-wrap: break-word;
	display: inline-block;
	margin-right: 15px;
}

.field {
	select {
		width: 30%;
		display: inline-block;
	}
}
