.products-teaser-slider {
	width: calc(100% + 26px);
	left: -13px;
	padding-bottom: 75px;
	box-sizing: border-box;
	margin: var(--ss_space_64) 0 0 !important;
	cursor: grab;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 9px;
		width: 86.6%;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.09);
		height: 1px;
		z-index: -1;
	}

	.slick-slide {
		margin: 0 13px;

	}

}

.footer-bottom-logo-inner .footer-logo img {
	width: 100%;
	height: 100%;
	max-width: 85px;
	max-height: 85px;
}

.product-teaser-section {
	.has-font-size-4-font-size {
		letter-spacing: 0.2px;
		margin-bottom: 0;
	}
}

.product-title {
	margin-top: 31px;

	h3 {
		font-size: 27px;
		margin-bottom: 11px;
	}
}

.product-description {
	letter-spacing: 0.3px;
	line-height: 1.46;
}

.product-price {
	margin-top: 20px;

	h3 {
		font-size: var(--ss_font_size_22);
		@include font(jost, med);
		letter-spacing: -1.2px;

	}
}

.product-item {

	a {
		background-color: var(--ss_transparent);
		color: var(--ss_link_color);
		border: none;
		border-bottom: 1px solid var(--ss_link_border_color);
		padding: 0;
		padding-bottom: 2px;
		letter-spacing: 3.4px;
		border-color: transparent;
		border-radius: 0;
		@include font(open, sbold);
		text-transform: uppercase;
		text-decoration: none;

		&:hover,
		&:focus-visible {
			border-color: var(--ss_link_border_color);
		}
	}
}



.slick-slider {
	.slick-prev {
		background-image: url("../images/arrow-left.svg");
		left: 10px;
	}

	.slick-next {
		background-image: url("../images/arrow-right.svg");
		right: 10px;
	}

	.slick-prev,
	.slick-next {
		top: auto;
		bottom: 0px;
		margin: 0;
		transform: initial;
		background-repeat: no-repeat;
		background-size: 32px;
		background-position: center;
		background-color: transparent;
		border: none;
		padding: 0;
		font-size: 0;
		height: 22px;

		&::before {
			display: none;
		}
	}

	.slick-dots {
		width: max-content;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 0px;
		padding: 0 30px;
		box-sizing: border-box;
		background-color: var(--ss_white);

		li {
			padding: 0;

			&.slick-active {
				button {
					background-color: var(--ss_black);
				}
			}

			button {
				background-color: transparent;
				border: 2px solid var(--ss_black);
				margin: 0;
				border-radius: 100px;

				&::before {
					display: none;
				}
			}

			&::before {
				display: none;
			}
		}
	}
}

.product-item {
	.add_to_cart_inline {
		margin: 19px 0 0;
		border: none !important;
		padding: 0 !important;

		a,
		a:visited {
			background-color: var(--ss_transparent);
			color: var(--ss_link_color);
			border: none;
			border-bottom: 1px solid var(--ss_link_border_color);
			padding: 0;
			padding-bottom: 2px;
			letter-spacing: 3.4px;
			border-color: transparent;
			border-radius: 0;
			font-weight: 600;

			&:hover,
			&:focus-visible {
				color: var(--ss_link_color);
				background-color: transparent;
				border-color: var(--ss_link_border_color);
			}
		}
	}
}

.product-image {
	line-height: 0.65;
	aspect-ratio: 448/448;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.three-columns.product-items {
	row-gap: calc(var(--ss_space_72) + 6px);

	.product-item {
		a {
			border-bottom: none !important;
		}

		.product-description {
			color: var(--ss_body_color);
		}

		.order-button {
			color: var(--ss_link_color);
		}

		.product-title,
		.product-price {
			h3 a {
				text-transform: capitalize;
				color: var(--ss_dark_text);
				@include font(jost, med);
			}
		}

		.product-title {
			margin-top: 34px;

			h3 {
				letter-spacing: 0.6px;
			}
		}

	}
}

.product-main-title {
	text-transform: uppercase;
	letter-spacing: 8.6px;
	margin-bottom: 43px;
}