/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/container/editor.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-src {
  position: relative;
}
.wp-block-src .section-bg.bg__fixed {
  background-position: 100% -100%;
}
.editor-block-list__block .wp-block-src .editor-block-list__layout {
  margin-right: 0;
  margin-left: 0;
}

.edit-post-visual-editor .editor-block-list__block {
  /* Clearfix */
}
.edit-post-visual-editor .editor-block-list__block section.wp-block-mkl-section-block::before,
.edit-post-visual-editor .editor-block-list__block section.wp-block-mkl-section-block::after {
  content: " ";
  display: table;
}

.edit-post-visual-editor .editor-block-list__block.is-selected .core-blocks-spacer__resize-handler-bottom {
  bottom: calc(50% - 8px) !important;
  transform: translateX(-1px);
  z-index: 400;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box {
  padding-bottom: 1px;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box::before {
  content: " ";
  display: block;
  height: 50%;
  width: 1px;
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 50%;
  visibility: hidden;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box::after {
  content: " ";
  display: block;
  height: 8px;
  width: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(3.5px) translateY(1px) rotate(-45deg);
  visibility: hidden;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box > span::before {
  content: " ";
  display: block;
  height: 50%;
  width: 1px;
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  right: 50%;
  visibility: hidden;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box > span::after {
  content: " ";
  display: block;
  height: 8px;
  width: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  right: calc(50% - 1px);
  transform: translateX(2px) translateY(-1px) rotate(45deg);
  visibility: hidden;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box:hover .core-blocks-spacer__resize-handler-bottom {
  display: block;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box:hover::before, .edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box:hover::after, .edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box:hover > span::before, .edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box:hover > span::after {
  visibility: visible;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .spacing-box:hover .components-resizable-box__handle::before {
  position: absolute;
  right: calc(50% - 8px);
  top: -6px;
}
.edit-post-visual-editor .editor-block-list__block.is-selected .resizing {
  background: rgba(2, 133, 186, 0.2);
}

.editor-bg-image {
  margin-bottom: 1em;
}
.editor-bg-image .components-button + .components-button {
  margin-top: 1em;
  margin-left: 8px;
}

.popup-output {
  border: 2px dashed black;
  line-height: 0.65;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.popup-output .popup-btn {
  height: 85px;
  width: 100%;
  display: block;
  background-size: cover !important;
  border-radius: unset;
  box-shadow: none !important;
  background-position: center;
  padding: 0;
}

.design-option {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  margin-bottom: 10px;
}
.design-option .design-option-item {
  cursor: pointer;
  line-height: 0.65;
  width: 29%;
}
.design-option .design-option-item .design-option-btn {
  box-sizing: border-box;
  padding: 40px 0 0 0;
  background-size: cover;
  background-position: center;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  font-size: 13px;
  line-height: 1.2;
  border: transparent;
  background: transparent;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 99;
}
.design-option .design-option-item .design-option-btn svg {
  position: absolute;
  top: 2px;
  right: 50%;
  transform: translateX(50%);
  display: none;
}
.design-option .design-option-item .design-option-btn img {
  line-height: 0.65;
}
.design-option .design-option-item.selected {
  line-height: 0.65;
}
.design-option .design-option-item.selected .design-option-btn svg {
  display: block;
}

.dc-popup .design-option {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dc-popup .design-option .design-option-item {
  cursor: pointer;
  display: block;
  width: 32%;
  height: 100%;
}
.dc-popup .design-option .design-option-item .design-option-btn-popup {
  background-size: cover;
  background-position: center;
  padding: 0;
  line-height: 0.65;
  border: transparent;
  height: 130px;
  width: 100%;
}
.dc-popup .design-option .design-option-item .design-option-btn-popup img {
  width: 100%;
}

.dc-design-component .components-panel__row,
.dc-media-component .components-panel__row,
.dc-popup-component .components-panel__row,
.theme-containers.container-design .components-panel__row {
  display: block !important;
}
.dc-design-component .components-panel__row button.is-primary,
.dc-media-component .components-panel__row button.is-primary,
.dc-popup-component .components-panel__row button.is-primary,
.theme-containers.container-design .components-panel__row button.is-primary {
  display: block;
  background: #f0f0f0;
  color: #1e1e1e;
  width: 100%;
  height: 85px;
  text-align: center;
}
.dc-design-component .components-panel__row button.is-primary:hover,
.dc-media-component .components-panel__row button.is-primary:hover,
.dc-popup-component .components-panel__row button.is-primary:hover,
.theme-containers.container-design .components-panel__row button.is-primary:hover {
  background: #ddd;
  color: #1e1e1e;
}
.dc-design-component .components-panel__row button.components-button.image-btn,
.dc-media-component .components-panel__row button.components-button.image-btn,
.dc-popup-component .components-panel__row button.components-button.image-btn,
.theme-containers.container-design .components-panel__row button.components-button.image-btn {
  height: auto;
  margin: 0;
  padding: 0;
}
.dc-design-component .components-base-control__help,
.dc-media-component .components-base-control__help,
.dc-popup-component .components-base-control__help,
.theme-containers.container-design .components-base-control__help {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: normal;
  color: rgb(117, 117, 117);
}

.dc-media-buttons {
  margin-bottom: 15px;
  margin-top: 10px;
}
.dc-media-buttons.gap-20 {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.dc-popup-buttons {
  margin-bottom: 15px;
}
.dc-popup-buttons .is-secondary {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.design-option-item[data-value]::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  background-color: var(--bg_container_color);
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  box-sizing: border-box;
  border: 1px solid var(--bg_container_circle_color);
}

.components-panel__row {
  margin-top: 0 !important;
}

.interface-complementary-area hr {
  margin: 0.5em 0 !important;
}

.design-option-item[data-value=red-ctn].selected svg {
  fill: white;
}

.design-option-item[data-value=sea-green-ctn].selected svg {
  fill: black;
}
