.woocommerce-checkout {
	.wp-block-woocommerce-checkout {

		width: 90%;
		max-width: 1400px;
		margin: 0 auto;

	}

	.wc-block-components-totals-item__label {
		color: --ss_black;

	}

	.wc-block-components-text-input input {
		border-radius: 0px !important;
		border: 1px solid var(--ss_black_2);
	}

	.wc-blocks-components-select .wc-blocks-components-select__select {
		border-radius: 0px;
	}

	.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted,
	.wc-block-components-radio-control--highlight-checked label.wc-block-components-radio-control__option--checked-option-highlighted {
		border-radius: 0px;
	}

	.wp-block-woocommerce-checkout-order-summary-block {
		border: none;
		border-radius: 5px;
		box-sizing: border-box;

	}






	input[type="submit"],
	button,
	input[type="button"],
	input[type="reset"] {

		@include transition(all, 0.4s, ease-in-out);
		border: 1px solid var(--ss_color_primary);
		background-color: var(--ss_color_primary);
	}

	input[type="submit"]:hover,
	button:hover,
	input[type="button"]:hover {
		background-color: transparent;
		border: 1px solid var(--ss_color_primary);
		color: var(--ss_button_color_hover);
		@include transition(all, 0.4s, ease-in-out);
	}

	.wc-block-components-order-summary .wc-block-components-order-summary__content {
		display: table;
		width: 100%;
		margin-bottom: 50px;
	}

	.wc-block-components-totals-wrapper {
		border-top: 1px solid var(--ss_black_1);
		padding: 16px 0;
	}

	.wp-block-woocommerce-checkout-order-summary-totals-block {
		border-top: 1px solid var(--ss_black_1);
		padding-bottom: 16px;
	}
}


