.woocommerce form.login {
	padding: 0;
	border-radius: 0;
	border: none;
	.woocommerce-form-row{


	}

	.input-text{

		border-radius: 0 !important;

	}
	.form-row {
		display:flex  !important;
		flex-direction: column !important;


	}

	.woocommerce-form-login__submit{
		background-color: var(--ss_color_primary);
		color:var(--ss_button_color);
		margin: 0;
	}
	.woocommerce-form-login__submit:hover{
		background-color: transparent;
		border:1px solid var(--ss_color_primary);
		color:var(--ss_button_color_hover);


	}


}
.woocommerce-account{
	.woocommerce{
		max-width: 1400px;
		margin: 0 auto;
		padding: var(--ss_space_48) ;
		box-sizing: border-box;
		border: 1px solid var(--ss_border_3);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

		h2{
			text-align: center !important;

		}

	}
}

.woocommerce-account:not(.logged-in.admin-bar){
	.woocommerce{
		max-width: 700px !important;
		width: 90%;
		padding: var(--ss_space_48)  !important;
	}
}

.woocommerce-account.logged-in.admin-bar{
	.woocommerce{
		margin: 0 auto;
	}
}


//  my account style
.woocommerce-dashboard.woocommerce-account{
	.woocommerce-MyAccount-content{

		align-self: start;
		margin: auto 0 !important;
	}


}
.woocommerce-dashboard.woocommerce-account, .logged-in.admin-bar{
	.woocommerce-column--shipping-address, .woocommerce-column--billing-address, .woocommerce-order-details{
		h2{
			font-size: var(--ss_font_size_28) ;
			text-align: left !important;
		}
	}
	.woocommerce-MyAccount-navigation ul li{
		width: 80% !important;
		margin-bottom: 0 !important;
	}
	.woocommerce-Address-title.title{
		h2{
			font-size: var(--ss_font_size_28) ;
			text-align: left !important;
		}
		.edit{


			float: none !important;
			display: block !important;
			width: max-content !important;
			margin-bottom: 20px;

		}
	}
	.woocommerce-MyAccount-navigation-link::before {
		display: none;
	}

	.woocommerce-MyAccount-navigation-link a {
		display: inline-block;
		color: var(--ss_black_2);
		font-weight: 600;
		border-bottom: 1px solid #e9e5e5 	;
		padding: 10px !important;
		cursor: pointer;
		width: 100% !important;

	}
	.woocommerce-MyAccount-navigation-link a:hover,
	.woocommerce-MyAccount-navigation-link a:active,
	.woocommerce-MyAccount-navigation-link.is-active a,
	.woocommerce-MyAccount-navigation-link.current a {
		background-color: #e9e5e5;
		color: var(--ss_color_primary);
		border-bottom: 1px solid var(--ss_color_primary) !important;
		font-weight: 600 !important;
	}

}
.woocommerce-account,  .woocommerce-checkout, .woocommerce-cart, .woocommerce-shop{
	padding-top: var(--ss_header-wrapper-default);
	.header-section{
		background-color: var(--ss_header_bgcolor_sticky);
		top: 0 ;

	}
}
.woocommerce-orders{
	a.button:hover{
		border: none !important;
	}
}
.woocommerce-downloads{
	a.button:hover{
		background-color: transparent;
	}
}
.woocommerce-edit-account{
	#account_display_name_description{
		font-size: 14px !important;
		color: grey !important;
	}
}
.woocommerce-edit-account, .woocommerce-edit-address{
	.input-text, .select2-selection--single{
		border-radius: 0 !important;
	}
	.select2-search__field{
		height: 30px;
	}
	.select2-container--open .select2-dropdown{
		top: -20px !important;
	}
}
.woocommerce-orders{
	table{

		table-layout: auto !important;

	}}
