

.whnmfixedcart
{
	overflow: auto !important;
}
.whmc-body.pm_open {
	left: auto !important;
	right: 0 !important;
	animation: none !important;
	opacity: 1;
}
.whmc-body{
	left: auto !important;
	animation: none !important;
	right: -100% !important;
	opacity: 0;
	transition: all 0.5s ease-in-out !important;
	.whmc_top_part {

		border-bottom: 1px solid var( --ss_black_2);
		padding: 20px 0;

	}
	.icons{
		display: none;
	}


	.whmc-item-price{
		margin: 0;
	}
	.carttxtbtnwraptct{
		#topart_count_s{
			color: var( --ss_color_on_primary);
			background-color: var(--ss_color_primary);
			height: var(--ss_space_16);
			margin-right: 10px;
			min-width: var(--ss_space_16);
			font-size: 12px;
			line-height:var(--ss_space_16);
			margin-bottom: var(--ss_space_20);
		}
	}
	.whmc-empty-cart{
		padding: 5px 0;
		.whmrmtycart-button{

			background-color: var(--ss_color_primary) !important;
			color: var(--ss_color_on_primary);

		}
		.whmrmtycart-button:hover{
			opacity: 1;
			background-color: var(--ss_color_on_primary) !important;
			color: var(--ss_black_2) !important;
			border: 1px solid var(--ss_black_2);

		}
	}
	.whmc-cart-item-wrap {
		padding: 5px 0;
	}
	.whmc-cart-items-inner {
		align-items: center;

	}
	.cart-item-data-field a {
		font-size: 14px;
		font-weight: 700;
	}
	.whmc-item-price span{
		font-size: 14px;
		font-weight: 700;


	}
	.whmc-cart-subtotal-wrap{
		font-weight: 600;
		border-top: 1px solid var( --ss_black_2);
		border-bottom: 1px solid var( --ss_black_2);
		padding: var(--ss_space_8) 0;
	}
	.whmc_ft-buttons-con{

		display: block !important;
		order: 3;

	}
	.whmc_ft-buttons-con a:hover{

		opacity: .7	 !important;


		transition: all 0.4s ease-in-out !important;
	}
	#whmckeepshooping{

		border: 1px solid var(--ss_black_2);

		padding: 12px 0;
	}
	#whmckeepshooping:hover{
		background-color: var(--ss_color_primary);
		color: var(--ss_color_on_primary);

		opacity: 1;
		transition: all 0.4s ease-in-out;
	}

	.wmcchevkoutprocess{
		padding: 12px 0;
		border: 1px solid var(--ss_black_2);
		border-radius: 0 !important;
		background-color:  var(--ss_color_primary) !important;
	}

	.ckhviewcart{
		display: none !important;
	}
	.whmc-bottom-part {
		padding: 20px 22px;
		display: flex
;
		gap: 6px;
		flex-direction: column;
	}

	.whmc-cart-total-wrap{
		justify-content: flex-end;
		align-items: baseline;
		gap: 10px;
		border: none;
		label{

			font-size: var(--ss_font_size_22) !important;
			font-weight: 700;
		}


	}
	.amounts{
		display: none;
	}
	#totalcla{
		.woocommerce-Price-amount{
			bdi,.woocommerce-Price-currencySymbol{
				font-size: var(--ss_font_size_22) !important;
				font-weight: 700;
			}
		}
	}

}

