.product-detail-single{


	button.add-upsell-to-cart{
		background-color: transparent;
		color: var(--ss_color_primary);
		padding: 0;
	}
	.related{
		.add_to_cart_button {
			background-color: var(--ss_color_on_primary) !important;
			border: 1px solid !important;
			border-radius: 0 !important;
			padding: var(--ss_space_20) var(--ss_space_20) !important;
		}

		.add_to_cart_button:hover {
			background-color: var(--ss_color_primary) !important;
			color: var(--ss_color_on_primary) !important;

		}
		.price bdi {
			color: var(--ss_black);
			font-weight: 700;
		}

	}
}

