/****
 *
 * Helper classes
 *
****/

.large-text {
	font-size: var(--ss_font_size_22);
	line-height: 1.3;
}

.small-text {
	font-size: var(--ss_font_size_14);
	line-height: 1;
}

.black-text {
	color: var(--wp--preset--color--black);
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.clr-red {
	color: var(--ss_color_primary);
}

.white_text {
	color: var(--ss_white);
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.text-uppercase {
	text-transform: uppercase;
}

// Text-decoration none
.text-decoration-none {
	text-decoration: none;
}

// flex

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

// flex items
.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-self-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// background
.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-position-center {
	background-position: center;
}

.bg-no-repeat {
	background-repeat: no-repeat;
}

.bg-repeat {
	background-repeat: repeat;
}

.reset-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

ul.list-none li {
	list-style: none;
	padding-left: 0;

	&::before {
		display: none;
	}
}

.image-cover {
	line-height: 0.65;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/****
 *
 * Breadcrumbs
 *
****/
#breadcrumbs {
	color: var(--ss_breadcrumb_color);
	text-transform: uppercase;
	margin-bottom: 23px;
	font-size: var(--ss_font_size_14);

	span {
		font-size: var(--ss_font_size_18);

		&.breadcrumb_last {
			font-size: var(--ss_font_size_14);
			font-weight: 500;
			margin-left: 10px;
		}
	}

	a,
	&:visited {
		color: var(--ss_breadcrumb_link_color);
		font-weight: 700;
		margin: 0 10px;
		border-bottom: 1px solid var(--ss_breadcrumb_border_color);
		font-size: var(--ss_font_size_14);

		&:hover,
		&:focus-visible {
			border-bottom: 1px solid var(--ss_breadcrumb_border_color_hover);
		}
	}
}

.single-post #breadcrumbs span span span span span span {
	color: var(--ss_breadcrumb_span_color);
}

.single-post #breadcrumbs span span span span span span a {
	color: var(--ss_breadcrumb_link_color);
}

/****
 *
 * Learn Button
 *
****/
.learn-more {
	color: var(--wp--preset--color--black);

	@include font(open, bold);
}

/****
 *
 * Theme Buttons
 *
****/
a.button,
a.button:visited,
span.button,
.is-style-mycustomstyle .wp-element-button {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 20px 75px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	color: var(--ss_theme_btn_color);
	background-color: var(--ss_theme_btn_bgcolor);
	border: 2px solid var(--ss_button_border_color);
	transition: all 0.35s ease-in-out;
	margin-right: 9px;
	text-align: center;
	border-radius: 0;
	line-height: 1.5;
	@include font(open, bold);
	font-size: var(--ss_font_size_16);

	&:last-child {
		margin-right: 0;
	}

	&:hover,
	&:focus-visible {
		background-color: var(--ss_theme_btn_bgcolor_hover);
		border: solid 2px var(--ss_theme_btn_border_color_hover);
		color: var(--ss_theme_btn_color_hover);
	}

	&.outline-btn {
		background-color: transparent;
		color: var(--ss_theme_btn_color_hover);
	}
}

// Disabled Button

button[disabled] {
	background-color: #dddddd;
	color: #999999;
	cursor: not-allowed;
	border: 1px solid #cccccc;
	opacity: 0.6;
}

button[disabled]:hover {
	background-color: #dddddd;
}

.no-visible {
	visibility: hidden;
}

/****
 *
 * 404 page
 *
****/
.not-found {
	text-align: center;
}

.error-404 {
	text-align: center;
	width: 100%;

	.menu {
		margin: 0 0 20px 0;
	}

	ul {

		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;

		li {
			display: inline-block;
			margin: 0 0 0 00px;
			font-weight: 700;
			padding: 0;

			&::before {
				display: none;
			}

			a {
				padding: 0px;
				border-bottom: 0;

				&:hover {
					color: var(--ss_error_menu_color);
				}
			}

			ul {
				display: none;
			}
		}
	}
}

.form-404 {
	margin: 0 auto 0;
	max-width: 720px;

	form {
		margin: 0;

		label {
			margin: 0;
		}

		input[type="submit"],
		button,
		input[type="button"],
		input[type="reset"] {
			margin: 0 0 0px 10px;
			height: 68px;
		}
	}

	p {
		margin-bottom: 20px;
	}
}

/**
* Custom Select Styles
**/
.select-dropdown {
	ul.select-dropdown__list {
		display: none;

		&.is-active-dropdown {
			display: block;
		}

		li.select-dropdown__item {
			outline: 2px dotted transparent;

			&:focus,
			&:focus-visible {
				outline-color: black !important;
			}
		}
	}

	.select-dropdown__button {

		&:focus,
		&:focus-visible {
			outline-color: black !important;
		}
	}
}

// Wp perfect image

img {
	&.main-image {
		opacity: 0;
		transition: all 500ms ease-in-out;
	}
}

picture {
	img.loaded {
		opacity: 1;
	}
}

//Cookie style
body {
	#daextlwcnf-revisit-cookie-consent-container {
		background-color: var(--ss_color_primary) !important;
	}

	#daextlwcnf-cookie-notice-button-1,
	#daextlwcnf-cookie-notice-button-2,
	#daextlwcnf-cookie-settings-button-1,
	#daextlwcnf-cookie-settings-button-2 {
		color: var(--ss_theme_btn_color) !important;
		background-color: var(--ss_theme_btn_bgcolor) !important;
		border: 2px solid var(--ss_button_border_color) !important;
		border-radius: 0 !important;
		transition: all 0.3s ease-in-out !important;
		font-family: "Axiforma-Bold", arial, sans-serif !important;
		font-weight: 700 !important;
		text-transform: initial !important;

		&:hover {
			background-color: var(--ss_theme_btn_bgcolor_hover) !important;
			border: 2px solid var(--ss_theme_btn_border_color_hover) !important;
			color: var(--ss_theme_btn_color_hover) !important;
		}
	}

	#daextlwcnf-cookie-notice-button-2,
	#daextlwcnf-cookie-settings-button-2 {
		background-color: var(--ss_transparent) !important;
		color: var(--ss_black_1) !important;

		&:hover {
			border-color: var(--ss_black_1) !important;
		}
	}
}

.hidden {
	display: none;
}

/*! Lity - v2.2.2 - 2016-12-14
* http://sorgalla.com/lity/
* Copyright (c) 2015-2016 Jan Sorgalla; Licensed MIT */
.lity {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	background: #121212;
	outline: none !important;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.lity.lity-opened {
	opacity: 1;
}

.lity.lity-closed {
	opacity: 0;
}

.lity * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lity-wrap {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	outline: none !important;
}

.lity-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.lity-loader {
	z-index: 9991;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.8em;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
	opacity: 1;
}

.lity-container {
	z-index: 9992;
	position: relative;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	max-width: 100%;
	max-height: 100%;
	outline: none !important;
}

.lity-content {
	z-index: 9993;
	width: 100%;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition:
		transform 0.3s ease,
		-webkit-transform 0.3s ease,
		-o-transform 0.3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.lity-content:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
}

.lity-close {
	z-index: 9994;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0;
	background-image: url(../images/topbar-cross-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px;
	top: -54px;
	-webkit-appearance: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 0;
	border: 0;
	outline: none;
	background-color: transparent;
	filter: invert(1);

	&:hover {
		background-color: transparent;
	}
}

.lity-close::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Image */
.lity-image img {
	max-width: 100%;
	display: block;
	line-height: 0;
	border: 0;
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
	width: 90%;
	max-width: 964px;
}

.lity-iframe-container {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	overflow: auto;
	pointer-events: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lity-hide {
	display: none;
}

.lity-inline {
	.lity-container {
		width: 100%;
	}

	.lity-wrap {
		max-width: 964px;
		margin: auto;

		.lity-content video {
			margin: 0;
			border-radius: 12px;
			overflow: hidden;
		}
	}
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
	width: 90%;
	max-width: 964px;
}

// Single product
.single-product {
	#sidebar {
		display: none;
	}

	.product_title {
		margin: 0;
	}

	.price {
		bdi {
			color: var(--ss_black_2);
		}
	}

	form.cart {
		.quantity {
			margin-right: 5px !important;
		}

		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="tel"],
		input[type="url"],
		input[type="search"],
		input[type="password"],
		input[type="time"],
		input[type="date"],
		input[type="datetime-local"],
		input[type="week"],
		input[type="month"],
		input[type="file"],
		input[type="range"],
		input[list],
		input[type="string"],
		select,
		textarea,
		.gform-text-input-reset {
			height: 50px;
			padding: 0;
		}

		input[type="submit"],
		button,
		input[type="button"],
		input[type="reset"] {
			background-color: var(--ss_button_bgcolor) !important;
			border: 1px solid var(--ss_button_bgcolor) !important;
			color: var(--ss_button_color) !important;
		}

		input[type="submit"]:hover,
		button:hover,
		input[type="button"]:hover {
			color: var(--ss_button_color_hover) !important;
			background-color: var(--ss_button_bgcolor_hover) !important;
		}
	}

	.product_meta {

		a,
		a:visited {
			color: var(--ss_black_2) !important;

			&:hover {
				color: var(--ss_black) !important;
			}
		}
	}

	.upsells.products {
		display: none;
	}

	.woocommerce-loop-product__title {
		font-size: var(--ss_font_size_22) !important;
		color: var(--ss_black) !important;
	}

	.woocommerce-Price-amount {
		font-size: var(--ss_font_size_16) !important;
	}

	button.f-button {
		right: 30px;
		top: 30px;
		background-color: transparent;
		border-color: transparent;
		padding: 0;
		margin: 0;

		svg {
			margin-bottom: 0;
		}
	}

	.wcgs-slider-image {
		width: 100% !important;
		height: 100% !important;
		aspect-ratio: 700/550;

		img {
			width: 100% !important;
			height: 100% !important;
		}
	}

	.wcgs-thumb {
		height: 100% !important;
		min-height: 180px !important;

		img {
			width: 100% !important;
			height: 100% !important;
			aspect-ratio: 180/180;
		}
	}

	#wpgs-gallery {
		margin-right: var(--ss_space_72) !important;
	}

	.header-section {
		background-color: var(--ss_header_bgcolor_sticky);

		&.shrink {
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
		}
	}

	.woocommerce-breadcrumb {
		display: none;
	}

	.content-area {
		max-width: 1400px;
		width: 90%;
		margin: 0 auto;
	}

	.content-area {
		padding: var(--ss_space_200) 0 var(--ss_space_96);
		box-sizing: border-box;
	}
}

.woocommerce-tabs ul.tabs {
	padding: 0 0 0 5px !important;
}

.woocommerce p.stars {
	margin-top: 10px !important;

	a::before {
		color: var(--ss_color_primary);
	}
}

// 404
.error404 {
	.header-section {
		background-color: var(--ss_header_bgcolor_sticky);
	}
}

.error-page-hero {
	padding: var(--ss_space_200) 0 var(--ss_space_96);

	h1 {
		margin-bottom: 10px;
	}

	.banner-text {
		p {
			margin: 0;
		}
	}
}

.error-404 {
	h6 {
		margin-bottom: var(--ss_space_36);
	}

	.page-content {
		margin-bottom: var(--ss_space_72);
	}
}




.vehicle-model-group,
.vehicle-year-group,
.van-model-group {
	position: relative;

	&.loading::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		border: 2px solid #ccc;
		border-top-color: #333;
		border-radius: 50%;
		animation: spin 0.6s linear infinite;
		z-index: 10;
	}

	&.loading select {
		opacity: 0.5;
		pointer-events: none;
	}
}

@keyframes spin {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}


.field.van-model-group {
	display: flex;
	column-gap: 10px;
}


// .woocommerce ul.products li.product {
// 	position: relative;
// }

// .woocommerce ul.products li.product a.woocommerce-LoopProduct-link {
// 	position: absolute;
// 	inset: 0;
// 	/* top:0; right:0; bottom:0; left:0 */
// 	z-index: 5;
// }

// .woocommerce ul.products li.product .button {
// 	position: relative;
// 	z-index: 10;
// 	/* button still clickable */
// }