/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/block-assets/components/global.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.image-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.image-box .components-button {
  margin: 0 20px 0 0;
  border-radius: 8px;
  z-index: 9999;
}
.image-box .open-btn {
  background-color: #69d169;
}
.image-box .open-btn svg {
  color: white;
}
.image-box .delete-btn,
.image-box .delete-btn-video,
.image-box .is-destructive {
  background-color: red !important;
  height: 36px !important;
}
.image-box .delete-btn svg,
.image-box .delete-btn-video svg,
.image-box .is-destructive svg {
  color: white !important;
}
