.is-style-st-s2,
.st-s2 {
	height: var(--ss_space_2) !important;
}

.is-style-st-s4,
.st-s4 {
	height: var(--ss_space_4) !important;
}

.is-style-st-s6,
.st-s6 {
	height: var(--ss_space_6) !important;
}

.is-style-st-s8,
.st-s8 {
	height: var(--ss_space_8) !important;
}

.is-style-st-s12,
.st-s12 {
	height: var(--ss_space_12) !important;
}

.is-style-st-s16,
.st-s16 {
	height: var(--ss_space_16) !important;
}

.is-style-st-s20,
.st-s20 {
	height: var(--ss_space_20) !important;
}

.is-style-st-s24,
.st-s24 {
	height: var(--ss_space_24) !important;
}

.is-style-st-s30,
.st-s30 {
	height: var(--ss_space_30) !important;
}

.is-style-st-s36,
.st-s36 {
	height: var(--ss_space_36) !important;
}

.is-style-st-s48,
.st-s48 {
	height: var(--ss_space_48) !important;
}

.is-style-st-s64,
.st-s64 {
	height: var(--ss_space_64) !important;
}

.is-style-st-s72,
.st-s72 {
	height: var(--ss_space_72) !important;
}

.is-style-st-s96,
.st-s96 {
	height: var(--ss_space_96) !important;
}

.is-style-st-s110,
.st-s110 {
	height: var(--ss_space_110) !important;
}

.is-style-st-s128,
.st-s128 {
	height: var(--ss_space_128) !important;
}

.is-style-st-s156,
.st-s156 {
	height: var(--ss_space_156) !important;
}

.is-style-st-s196,
.st-s196 {
	height: var(--ss_space_196) !important;
}

.is-style-st-s200,
.st-s200 {
	height: var(--ss_space_200) !important;
}

.is-style-st-s236,
.st-s236 {
	height: var(--ss_space_236) !important;
}