.hero-home-section {

	.wp-block-heading {
		line-height: 1.19;
		letter-spacing: 14px;
		margin-top: 13px;
	}

	.hero-content-inner p {
		letter-spacing: 0.7px;
	}

	.wp-block-buttons {
		margin-top: 33px;
	}

	.wp-block-cover {
		position: initial;
		padding: 302px 0 100px;

		.wp-block-cover__inner-container {
			max-width: 1750px;
			width: 92%;
			margin: 0 auto;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.image-alongside-text-ctn {
	justify-content: space-between;
	column-gap: 70px;

	.wp-block-column.iat-content {
		flex-basis: 40.7%;
	}

	.wp-block-column.iat-image {
		flex-basis: 54.3%;
	}

	.wp-block-heading {
		letter-spacing: 0.3px;
		line-height: 1.23;
	}

	p {
		margin-top: 13px;
		letter-spacing: 0.25px;
		line-height: 1.45;

	}
}

.hero-content {
	max-width: 630px;

	.kicker-text {
		text-transform: uppercase;
		font-size: var(--ss_font_size_14);
		@include font(open, sbold);
		letter-spacing: 2.9px;
	}

	.hero-content-inner {
		margin-left: 27%;
		margin-top: 22px;
	}
}

.hero-home {
	max-height: 953px;
}


// home styles

.products-teaser-slider {
	.product-title a {
		color: var(--ss_regular_text);
		border: none;

		&:hover {
			color: var(--ss_red);
			border: none;
		}
	}
}

.product-image {
	overflow: hidden;

	img {
		transition: transform 0.4s ease;
	}

	&:hover img {
		transform: scale(1.1);
	}
}