/* stylelint-disable no-invalid-position-at-import-rule */

/* Mixins */
@import "admin/dashicons.scss";

/* Mixins */
@import "partials/mixins/mixins";

/* Fonts */
@import "partials/fonts/fonts";

@font-face {
	font-family: "Jost";
	src:
		url("../fonts/Jost-Medium.woff2") format("woff2"),
		url("../fonts/Jost-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src:
		url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
		url("../fonts/OpenSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Variables */
@import "partials/variables/variables";

.clr-red {
	color: var(--ss_color_primary);
}

.wp-block-spacer .components-resizable-box__handle {
	display: none !important;
}

.your-spacer-class .block-editor-block-inspector {
	display: none !important;
}

// Admin Block styles

.editor-styles-wrapper {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: normal;
	font-size: var(--gb_font_size_20);
	color: var(--gb_body_color);
	line-height: 1.5;

	.acf-block-body {
		margin-block-end: 50px !important;
		margin-block-start: 50px !important;
	}

	/* Editor style */

	@import "editor-static";

	/* Typography */

	@import "partials/typography/typography";

	/* Elements */

	@import "partials/elements/lists";
	@import "partials/elements/quotes";
	@import "partials/elements/tables";

	/* Media */

	@import "partials/media/media";

	/* Core */

	@import "partials/core/core";

	/* Blocks */

	@import "partials/wp-blocks/wp-blocks";

	/*  Vendor CSS Magnific popup */

	@import "vendors/magnific-popup.css";

	/*  Vendor CSS Wordpress Buttons */
	@import "partials/site/wp-buttons";

	/* site */
	@import "partials/site/site";

	/* Forms */
	@import "partials/forms/forms";

	/* Responsive */
	@import "partials/responsive/block-queries";
}

/*  Vendor CSS Owl carousel */

@import "vendors/daterangepicker.css";

.daterangepicker {
	.btn-sm {
		align-items: center;
		-webkit-appearance: none;
		border: 0;
		border-radius: 2px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: 13px;
		font-weight: 400;
		height: 36px;
		margin: 0;
		padding: 6px 12px;
		text-decoration: none;
		transition: box-shadow 0.1s linear;
		background: var(--wp-components-color-accent);
		color: #fff;
		outline: 1px solid transparent;
		text-decoration: none;
		text-shadow: none;
		white-space: nowrap;
	}

	.applyBtn {
		--wp-components-color-accent: #3858e9;
	}

	.cancelBtn {
		--wp-components-color-accent: #cc1818;
	}
}

.components-tab-panel__tab-content {

	.acf-field-block-title,
	.acf-field-spacers {
		padding: 0px !important;

		.acf-label {
			display: none;
		}

		.acf-input {
			.acf-label {
				display: initial;
			}
		}
	}

	.acf-field {
		margin: 5px 10px !important;

		&.acf-field-spacers {
			margin: 5px !important;
		}
	}
}

.interface-interface-skeleton__sidebar {

	.acf-field-block-title,
	.acf-field-spacers {
		padding: 0px !important;

		.acf-label {
			display: none;
		}

		.acf-input {
			.acf-label {
				display: initial;
			}
		}
	}

	.acf-fields {
		&.acf-clone-fields {
			.description {
				padding: initial !important;
				border-top: initial;
				margin-top: 6px !important;
				margin-bottom: 5px !important;
			}
		}
	}

	.description {
		padding: 6px 20px 16px !important;
		margin-top: 0px !important;
		border-top: 1px solid #eeeeee;
	}
}

.acf-icon {
	text-decoration: none !important;

	&.-minus:before {
		top: 3px;
		position: relative;
	}
}

.acf-field-object[data-type="block_label"] {
	.acf-field-setting-name {
		display: none;
	}
}

.acf-field-advance-form,
.acf-field-advance-video {
	padding: 0px !important;

	.acf-label {
		display: none;
	}

	.acf-input {
		.acf-label {
			display: initial;
		}
	}
}

.is-style-fill-boxed {
	.wp-block-button__link {
		border-radius: inherit;
	}
}

.is-style-outline-boxed {
	.wp-block-button__link {
		border: solid black;
		color: black;
		border-radius: inherit;
		background-color: transparent !important;
		background-image: none;
		color: black !important;
		border-width: 2px !important;
	}
}

#the-list {
	&.ui-sortable {
		.ui-sortable-handle {
			cursor: grab;
		}
	}
}

:root :where(.editor-styles-wrapper)::after {
	height: 10vh !important;
}

#imagify-pricing-modal {
	display: none;
}

.center-align {
	text-align: center;
}

.components-panel__row {
	.select-post-type {
		width: 100%;
		margin-top: 12px;
	}

	.select-post-type {
		width: 100%;
		margin-top: 12px;
	}

	.css-1nmdiq5-menu {
		position: relative !important;
		display: block;
	}
}

.image-cover {
	.components-resizable-box__container {
		height: 100% !important;
		max-height: 100% !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	>figure .components-placeholder {
		height: 100% !important;
		max-height: 100% !important;
		width: 100% !important;
		max-width: 100% !important;
	}
}

.editor-styles-wrapper {
	:visited {
		pointer-events: none;
	}
}

.editor-styles-wrapper .venue-item-content-top {
	margin-bottom: var(--gb_space_60);
}

.is-root-container {
	&>.block-editor-block-list__block.wp-block {
		margin-block-start: 40px !important;
		margin-block-end: 40px !important;
	}
}

// scroll bar
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: hsl(0, 0%, 84%);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: #6d6d6d;
}

::-webkit-scrollbar-thumb:hover {
	background: #565656;
}

body.post-type-post .editor-styles-wrapper {
	>div {
		max-width: 1160px !important;
		margin-inline: auto !important;
	}
}

.image-cover img {
	height: 100% !important;
}

#order-popup {
	.invoice-bussiness-details {
		h4 {
			font-weight: 700;
		}
	}

	.invoice-right-column {
		table {
			width: 100%;
			border: 1px solid black;
			padding: 10px;
			box-sizing: border-box;

			tr {
				td {
					padding-bottom: 12px;
				}
			}
		}
	}

	.invoice-header-section {
		display: flex;
		justify-content: space-between;
		column-gap: 30px;
		flex-wrap: wrap;

		h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5,
		h6,
		.heading-6,
		strong {
			margin: 0 0 20px;
			color: var(--ss_heading_color);
			line-height: 1.3;
			text-transform: initial;
			@include font(jost, med);

			a {
				color: var(--ss_heading_link_color);
				border-bottom: none;

				&:hover,
				&:focus-visible {
					color: var(--ss_heading_link_color_hover);
				}
			}
		}

		h1,
		.heading-1 {
			font-size: var(--ss_font_size_58);
		}

		h2,
		.heading-2 {
			font-size: var(--ss_font_size_44);
		}

		h3,
		.heading-3 {
			font-size: var(--ss_font_size_32);
			letter-spacing: 0.2px;
			text-transform: uppercase;
		}

		h4,
		.heading-4 {
			font-size: var(--ss_font_size_28);
		}

		h5,
		.heading-5 {
			font-size: var(--ss_font_size_24);
		}

		h6,
		.heading-6 {
			font-size: var(--ss_font_size_22);
		}

		.large-heading {
			font-size: var(--ss_font_size_77);
		}

		.invoice-logo {
			width: 25%;

			img {
				width: 100%;
				height: auto;
			}
		}

		.invoice-bussiness-details {
			width: 32%;

			.heading-6 {
				font-size: var(--ss_font_size_18);
				margin-bottom: 0;
			}

			p {
				margin: 0;
				font-size: var(--ss_font_size_16);

				strong {
					font-size: var(--ss_font_size_18);
				}
			}
		}

		.invoice-right-column {
			width: 35%;

			h3,
			.heading-3 {
				text-align: center;
				width: 51%;
				margin: 0 auto 5px;
				word-break: break-word;
				font-size: var(--ss_font_size_32);
				@include font(open, bold);
				font-family: serif;
			}

			table {
				padding: 0;
				border-collapse: collapse;

				tr {
					width: 100%;

					&:nth-child(n + 2) {
						border-top: 1px solid black;
					}
				}

				td {
					font-size: 16px;
					padding: 8px 10px;
					box-sizing: border-box;
				}
			}
		}
	}
}

.stone-stomper-vector {
	position: relative;
	display: inline-block;
	// width: 100%;

	img {
		width: 100%;
	}

	.ss-width {
		display: inline-block;
		position: absolute;
		top: 20px;
		left: 41%;
		transform: translateX(-50%);
	}
}

.ss-invoice-popup {
	background: #fff;
	width: 900px;
	max-width: 90%;
	margin: 60px auto;
	padding: 60px;
	position: relative;
	border-radius: 10px;
	overflow-y: scroll;
	height: 75vh;
}

.inv-order-details {
	.stone-stomper-vector {
		position: relative;
		display: inline-block;
		// width: 100%;

		img {
			width: 100%;
			max-width: 900px !important;
			margin: 0 auto;
		}

		.ss-width {
			display: inline-block;
			position: absolute;
			top: 28px;
			left: 41%;
			transform: translateX(-50%);
		}
	}

	br {
		display: none;
	}

	.customer-details {
		border-bottom: 2px solid #b9b9b9;
		font-size: var(--ss_font_size_14);
		padding-bottom: 10px;
		box-sizing: border-box;
		margin-bottom: 4px;

		br {
			display: none;
		}
	}
}

.order-table {
	border: 1px solid black;

	tr {
		&:first-child {
			td {
				text-transform: uppercase;
			}
		}

		td {
			font-size: var(--ss_font_size_16);
			border: 1px solid black;
			padding: 6px;
			box-sizing: border-box;

			strong {
				font-weight: 400;
			}
		}
	}
}

.inv-one {
	.stone-stomper-vector {
		margin-top: 30px;

		img {
			max-width: 900px !important;
		}
	}
}

.thanks-message {
	text-align: center;
	text-transform: uppercase;
	color: var(--ss_heading_color);
	line-height: 1.3;
	text-transform: initial;
	@include font(jost, med);
	margin: var(--ss_space_24) 0 var(--ss_space_72);
	font-size: var(--ss_font_size_24);
}

.inv-two {
	.stone-stomper-vector {
		margin-top: 30px;
	}

	.order-table {
		margin-top: 20px;

		tr {
			text-align: left;

			td {
				text-transform: initial;
				width: 50%;
			}
		}
	}
}

.inv-one,
.inv-two,
.stone-stomper-vector {
	display: block;
	max-width: 900px;
	margin: 0 auto;

	svg {
		max-width: 100%;
	}
}

.inv-order-details .stone-stomper-vector .ss-width {
	top: 18px;
}

.inv-two.office-use {
	margin-top: var(--ss_space_200);
}

// Images
.postbox-container {
	.customer-upload-images {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		.row {
			width: 30%;
		}

		img {
			max-width: 180px !important;
			width: 180px;
			height: 140px;
		}
	}
}

.image-lightbox {
	position: fixed;
	inset: 0;
	background: radial-gradient(circle at center,
			rgb(0 0 0 / 95%),
			rgb(20 20 20));
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition:
		opacity 0.5s ease,
		visibility 0.5s ease;
	z-index: 9999;

	&.active {
		opacity: 1;
		visibility: visible;

		.lightbox-img {
			transform: scale(1);
			opacity: 1;
		}
	}

	.lightbox-inner {
		position: relative;
		width: 90%;
		height: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.lightbox-img {
		max-width: 100% !important;
		max-height: 100%;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
		transform: scale(0.96);
		opacity: 0;
		transition:
			opacity 0.6s ease,
			transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
		user-select: none;
	}

	.lightbox-controls {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.lightbox-prev,
		.lightbox-next {
			&::before {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				background-position: center;
				background-image: url(../images/left-arrow.svg);
				background-size: 30px;
				background-repeat: no-repeat;
			}
		}

		.lightbox-next {
			&::before {
				background-image: url(../images/right-arrow.svg);
			}
		}

		.lightbox-close {
			&::before {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				background-position: center;
				background-image: url(../images/cross-icon.svg);
				background-size: 40px;
				background-repeat: no-repeat;
			}
		}

		.lightbox-prev,
		.lightbox-next,
		.lightbox-close {
			position: absolute;
			color: #fff;
			font-size: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: rgba(255, 255, 255, 0.05);
			padding: 0;
			width: 60px;
			text-align: center;
			height: 60px;
			backdrop-filter: blur(10px);
			transition: all 0.3s ease;
			user-select: none;
			border-radius: 0px;

			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}

		.lightbox-close {
			width: 50px;
			height: 50px;
			font-size: 0;
		}

		.lightbox-prev {
			left: 3%;
			top: 50%;
			transform: translateY(-50%);
		}

		.lightbox-next {
			right: 3%;
			top: 50%;
			transform: translateY(-50%);
		}

		.lightbox-close {
			top: 3%;
			right: 3%;
		}
	}
}

@media (max-width: 768px) {
	.image-lightbox {
		.lightbox-controls {
			.lightbox-prev {
				left: 15px;
			}

			.lightbox-next {
				right: 15px;
			}

			.lightbox-close {
				top: 15px;
				right: 15px;
			}
		}
	}
}

.postbox-container .customer-upload-images {
	.image-lightbox {
		img {
			max-width: 1003px !important;
			max-height: 668px;
			width: 100%;
			height: max-content;
		}
	}
}

.image-group {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.popup-image {
	cursor: pointer;
}