/* stylelint-disable no-invalid-position-at-import-rule */

/* Mixins */
@import "admin/dashicons.scss";

/* Mixins */
@import "partials/mixins/mixins";

/* Fonts */
@import "partials/fonts/fonts";

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Medium.woff2') format('woff2'),
		url('../fonts/Jost-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Variables */
@import "partials/variables/variables";

.wp-block-spacer .components-resizable-box__handle {
	display: none !important;
}

.your-spacer-class .block-editor-block-inspector {
	display: none !important;
}

// Admin Block styles

.editor-styles-wrapper {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: normal;
	font-size: var(--gb_font_size_20);
	color: var(--gb_body_color);
	line-height: 1.5;

	.acf-block-body {
		margin-block-end: 50px !important;
		margin-block-start: 50px !important;
	}

	/* Editor style */

	@import "editor-static";

	/* Typography */

	@import "partials/typography/typography";

	/* Elements */

	@import "partials/elements/lists";
	@import "partials/elements/quotes";
	@import "partials/elements/tables";

	/* Media */

	@import "partials/media/media";

	/* Core */

	@import "partials/core/core";

	/* Blocks */

	@import "partials/wp-blocks/wp-blocks";

	/*  Vendor CSS Magnific popup */

	@import "vendors/magnific-popup.css";

	/*  Vendor CSS Wordpress Buttons */
	@import "partials/site/wp-buttons";

	/* site */
	@import "partials/site/site";

	/* Forms */
	@import "partials/forms/forms";

	/* Responsive */
	@import "partials/responsive/block-queries";
}

/*  Vendor CSS Owl carousel */

@import "vendors/daterangepicker.css";

.daterangepicker {
	.btn-sm {
		align-items: center;
		-webkit-appearance: none;
		border: 0;
		border-radius: 2px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: 13px;
		font-weight: 400;
		height: 36px;
		margin: 0;
		padding: 6px 12px;
		text-decoration: none;
		transition: box-shadow 0.1s linear;
		background: var(--wp-components-color-accent);
		color: #fff;
		outline: 1px solid transparent;
		text-decoration: none;
		text-shadow: none;
		white-space: nowrap;
	}

	.applyBtn {
		--wp-components-color-accent: #3858e9;
	}

	.cancelBtn {
		--wp-components-color-accent: #cc1818;
	}
}

.components-tab-panel__tab-content {

	.acf-field-block-title,
	.acf-field-spacers {
		padding: 0px !important;

		.acf-label {
			display: none;
		}

		.acf-input {
			.acf-label {
				display: initial;
			}
		}
	}

	.acf-field {
		margin: 5px 10px !important;

		&.acf-field-spacers {
			margin: 5px !important;
		}
	}
}

.interface-interface-skeleton__sidebar {

	.acf-field-block-title,
	.acf-field-spacers {
		padding: 0px !important;

		.acf-label {
			display: none;
		}

		.acf-input {
			.acf-label {
				display: initial;
			}
		}
	}

	.acf-fields {
		&.acf-clone-fields {
			.description {
				padding: initial !important;
				border-top: initial;
				margin-top: 6px !important;
				margin-bottom: 5px !important;
			}
		}
	}

	.description {
		padding: 6px 20px 16px !important;
		margin-top: 0px !important;
		border-top: 1px solid #eeeeee;
	}
}

.acf-icon {
	text-decoration: none !important;

	&.-minus:before {
		top: 3px;
		position: relative;
	}
}

.acf-field-object[data-type="block_label"] {
	.acf-field-setting-name {
		display: none;
	}
}

.acf-field-advance-form,
.acf-field-advance-video {
	padding: 0px !important;

	.acf-label {
		display: none;
	}

	.acf-input {
		.acf-label {
			display: initial;
		}
	}
}

.is-style-fill-boxed {
	.wp-block-button__link {
		border-radius: inherit;
	}
}

.is-style-outline-boxed {
	.wp-block-button__link {
		border: solid black;
		color: black;
		border-radius: inherit;
		background-color: transparent !important;
		background-image: none;
		color: black !important;
		border-width: 2px !important;
	}
}

#the-list {
	&.ui-sortable {
		.ui-sortable-handle {
			cursor: grab;
		}
	}
}

:root :where(.editor-styles-wrapper)::after {
	height: 10vh !important;
}

#imagify-pricing-modal {
	display: none;
}

.center-align {
	text-align: center;
}

.components-panel__row {
	.select-post-type {
		width: 100%;
		margin-top: 12px;
	}

	.select-post-type {
		width: 100%;
		margin-top: 12px;
	}

	.css-1nmdiq5-menu {
		position: relative !important;
		display: block;
	}
}

.image-cover {
	.components-resizable-box__container {
		height: 100% !important;
		max-height: 100% !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	>figure .components-placeholder {
		height: 100% !important;
		max-height: 100% !important;
		width: 100% !important;
		max-width: 100% !important;
	}
}

.editor-styles-wrapper {

	:visited {
		pointer-events: none;
	}
}

.editor-styles-wrapper .venue-item-content-top {
	margin-bottom: var(--gb_space_60);
}

.is-root-container {
	&>.block-editor-block-list__block.wp-block {
		margin-block-start: 40px !important;
		margin-block-end: 40px !important;
	}
}

// scroll bar
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: hsl(0, 0%, 84%);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: #6d6d6d;
}

::-webkit-scrollbar-thumb:hover {
	background: #565656;
}

body.post-type-post .editor-styles-wrapper {
	>div {
		max-width: 1160px !important;
		margin-inline: auto !important;
	}
}


.image-cover img {
	height: 100% !important;
}